<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Programming Jokes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body class="center">
  <main class="center">
    <h1>Programming Jokes</h1>
  
    <form action="/joke" method="get" class="center">
      <h2>Select the type of joke 👇</h2>
      <div>
        <button type="submit" name="type" value="single" class="btn btn-primary btn-lg me-3">Single</button>
        <button type="submit" name="type" value="twopart" class="btn btn-primary btn-lg">Two-part</button>
      </div>
    </form>
  
    <% if (locals.joke) { %>
      <% if (joke.type === "single") { %>
        <p><%= joke.joke %></p>
      <% } else { %>
        <p><%= joke.setup %><br/><br/><%= joke.delivery %></p>
      <% } %>
    <% } %>
  
    <% if (locals.error) { %>
      <p><%= error %></p>
    <% } %>
  </main>
</body>
</html>