body {
  height: 100vh;
  background: url(software-background.jpg);
  font-family: sans-serif;
  padding: 1rem;
}

main {
  background: rgb(248, 248, 255);
  padding: 2.2rem;
  border-radius: 5%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.8rem;
  font-family: serif;
  margin-bottom: 6rem;
  text-align: center;
}

h2 {
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 4.7rem;
  margin-bottom: 0;
  max-width: 40rem;
}

@media (max-width: 600px) {
  h1 {font-size: 3rem;}
  h2 {font-size: 1.6rem;}
  p {font-size: 1.2rem;}
}
